body{
  margin: 0;
  background-color: white;
  color: #1a1a1a;
  font-family: "Times New Roman":, Times, serif;
  line-height: 1.6;
}
header,
main,
footer {
  width: min(90%, 800px);
  margin: 0 auto;
}
header {
  padding: 40px 0 20px;
}
nav {
  margin-top: 10px;
}
nav a {
  margin-right: 20px;
  color: #1a1a1a;
  text-decoration: none;
}
main {
  padding: 40px 0;
}
article {
      margin-top: 30px;
}
footer {
  padding: 40px 0;
      font-size: 0.9rem;
}
